/*21863032_박신희*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#fullpage {
  height: 100%;
}

#fullpage section {
  height: 100%;
}

a:link {
  text-decoration: none;
  color:#000;
}

a:visited {
  text-decoration: none;
  color:#000;
}

  h1, h2, a {
  font-family: favoritregular;
  font-size: 3.6vh;
  line-height: 4.2vh;
  font-weight:normal;
}

  body {
  font-family: favoritregular;
  font-weight:normal;
  }

.color-orange {
  color: #FF9900;
}

.arrow {
  position: relative;
  display: inline-block;
  animation-timing-function:cubic-cubic-bezier(.64,0,.41,1);
  animation: animate 2.0s alternate infinite;
}

/*화살표 움직임*/
@keyframes animate
{
  0%
  {
    transform: translateY(0px) rotate(0deg);
  }
  40%
  {
    transform: translateY(0px) rotate(0deg);
  }
  50%
  {
    transform: translateY(-50px) rotate(180deg);
  }
  60%
  {
    transform: translateY(0px) rotate(360deg);
  }
  100%
  {
    transform: translateY(0px) rotate(360deg);
  }
}

.wrapper {
  height: 100%;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "profile scrollformore";
}

.navbar1 {
  font-family: favoritregular;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo works about"
}

.navbar2 {
  font-weight:normal;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo works about"
}

.logo {
  grid-area: logo;
  display: grid;
  justify-content: start;
  align-content: center;
}

.works {
  grid-area: works;
  display: grid;
  justify-content: center;
  align-content: center;
}

.about {
  grid-area: about;
  display: grid;
  justify-content: end;
  align-content: center;
}

/* .btn {
    letter-spacing: 0;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function:ease-in-out;
}

.btn:hover,
.btn:active {
  letter-spacing: 3px;
} */

 .hover-reveal {
	position: fixed;
	width: 360px;
	height: 640px;
	top: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
  z-index: 10;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
  z-index: 10;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
  z-index: 10;
}

/* who is 박신희 텍스트 떨리게 하는 효과 */
h2 {
  text-decoration: none;
  color:#000;
  font-family: favoritregular;
  font-weight:normal;
  animation: .8s shake infinite alternate;
}

  /* who is 박신희 텍스트 떨리게 하는 효과 */
  @keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.profile {
  grid-area: profile;
  padding-top: 9vh;
}

.scrollformore {
  grid-area: scrollformore;
  align-self: end;
  justify-self: end;
}

.feet {
  grid-area: feet;
  font-family: favoritregular;
  padding-left: 0px;
  padding-right: 40px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "foot1 foot2";
}

/*푸터부분 이메일과 인스타그램 링크 건 부분*/
.footer1 {
  grid-area: foot1;
  display: grid;
  justify-content: start;
  align-content: center;
}

.footer2 {
  grid-area: foot2;
  display: grid;
  justify-content: end;
  align-content: center;
}

/*버튼 스타일*/
.btn {
  background-size: 200% auto;
  background-image: linear-gradient(to right, white, pink, yellow 50%, #000 50%);
  transition: background-position 0.3s ease-out;
}

.btn:hover {
  background-position: -100% 0;
}

/*works 페이지 추가 css 코드*/
.wrapper2 {
  height: 100%;
  background-color: #fff;
  z-index: 1;
  padding-left: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "titolo photo"
  "annoemore photo";
}

.titolo {
  grid-area: titolo;
  padding-top: 80px;
}

.annotesto {
  grid-area: annotesto;
  align-self: end;
  justify-self: start;
}

.annoemore {
  padding-bottom: 20px;
  grid-area: annoemore;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "annotesto more";
}

.titolo {
  grid-area: titolo;
  padding-top: 80px;
}

/*작업물 사진 속성*/

.immagineprogetto {
  grid-area: photo;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.immagineprogetto img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.immagineprogetto:hover img:nth-child(2) {
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  filter: blur(10px)
}

.immagineprogetto img:nth-child(1) {
  transform: translateX(50%) scaleX(2);
  opacity: 0;
  filter: blur(10px)
}

.immagineprogetto:hover img:nth-child(1) {
  transform: translateX(0) scaleX(1);
  opacity: 1;
  filter: blur(0)
}




/*
.anno img {
  object-fit:cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
*/
