/*21863032_박신희*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
	overflow: hidden;
}

/*.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content__text {
	position: absolute;
  color: #fff;
}

.js .content__text-inner {
	opacity: 0;
}

.content {
	height: 100vh;
	justify-content: center;
}*/


a:link {
  text-decoration: none;
  color:#000;
}

a:visited {
  text-decoration: none;
  color:#000;
}

#intro {
  height: 100%;
  overflow: hidden;
  display: grid;
  justify-self: center;
  align-self: center;
}

#intro img {
  display: grid;
  justify-self: center;
  align-self: center;
  /*메인 콘텐츠 화면 꽉 차게*/
  /*width: 100vw;
  height: 100%;*/
}

body, h1, h2, a {
  font-family: favoritregular;
  font-size: 3.6vh;
  line-height: 4.2vh;
  font-weight:normal;
}

.navbar1 {
  font-family: favoritregular;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo works about"
}

.feet {

  grid-area: feet;
  font-family: favoritregular;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "foot1 foot2";
}

/*푸터부분 이메일과 인스타그램 링크 건 부분*/
.footer1 {
  grid-area: foot1;
  display: grid;
  justify-content: start;
  align-content: center;
}

.footer2 {
  grid-area: foot2;
  display: grid;
  justify-content: end;
  align-content: center;
}

  /*푸터

.footer {
  border-top: 1px solid pink;
  margin-top: 100px;
  margin-bottom: 50px;
  width: auto;
}
.footer p {
  font-size: 12px;
  color: black;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 1px;
}
.footer span {
  color: pink;
  font-size: 11px;
  font-weight: normal;
  margin-left: 30px;
}
  */

/*로고*/
.logo {
  grid-area: logo;
  display: grid;
  justify-content: start;
  align-content: center;
}

/*매뉴*/
.works {
  grid-area: works;
  display: grid;
  justify-content: center;
  align-content: center;
}

.about {
  grid-area: about;
  display: grid;
  justify-content: end;
  align-content: center;
}

/*버튼 스타일*/
.btn {
  background-size: 200% auto;
  background-image: linear-gradient(to right, white, pink, yellow 50%, #000 50%);
  transition: background-position 0.3s ease-out;
}

.btn:hover {
  background-position: -100% 0;
}
